---
import { getCollection, type CollectionEntry } from "astro:content";
import ArrowLeft from "@images/arrow-line-left.svg";
import ArrowRight from "@images/arrow-line-right.svg";
const tils = await getCollection("tils");
tils.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
const currentIndex = tils.findIndex(
  (til) => til.data.slug === Astro.params.slug,
);
const nextPost = tils[currentIndex + 1];
const previousPost = tils[currentIndex - 1];
---

<div class="flex justify-between items-center pt-2 pb-2">
  {
    previousPost ? (
      <a
        href={`${import.meta.env.BASE_URL}${previousPost.data.slug}`}
        class="flex til_link items-center pt-2 pb-2"
      >
        <ArrowLeft class="link-arrow mr-1 link-arrow-left" size={24} />
        <div class="font-semibold text-md">{previousPost.data.title}</div>
      </a>
    ) : (
      <div />
    )
  }
  {
    nextPost ? (
      <a
        href={`${import.meta.env.BASE_URL}${nextPost.data.slug}`}
        class="til_link flex items-center pt-2 pb-2"
      >
        <div class="font-semibold text-md">{nextPost.data.title}</div>
        <ArrowRight class="link-arrow ml-1 link-arrow-right" size={24} />
      </a>
    ) : (
      <div />
    )
  }
</div>
<style is:inline>
  .til_link {
    /* border: 2px solid var(--bg-200); */
    display: flex;
    /* border-radius: var(--space-1); */
    text-decoration: none;
    /* color: var(--text-100); */
  }
  .til_link:hover,
  .til_link:active {
    /* color: var(--text-200); */
  }
  .til_link:hover line,
  .til_link:focus line {
    transform: translateX(0) scaleX(1);
  }
  .til_link:hover polyline,
  .til_link:focus polyline {
    transform: translateX(0);
  }
</style>
